.header h2 {
  font-size: 60px;
  color: #006494 !important; 
  font-weight: bold;
  font-family: "Playfair Display", serif !important;
  text-align: center;
}

h3{
  text-align: center;
}
div.row {
  position: relative;
  top: 30px;
}

.well { background-color: white !important; border: 1px solid #ddd; }
    .sidebar { background-color: white !important; }

 #main_panel {
      overflow-y: auto;  /* Enable vertical scrolling */
      max-height: 90vh;  /* Prevent overflow beyond viewport height */
    }

.nav-tabs > li > a {
      font-size: 20px !important;  /* Increase font size */
      padding: 15px 20px !important; /* Increase padding */
    }
    .nav-tabs {
      border-bottom: 3px solid #000 !important; /* Thicker underline */
    }
.well {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  background-color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sidebar {
  border: none;
  background: none;
  box-shadow: none;
}

#helpbutton {
  width: 50px;            /* or larger if needed */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;           /* keeps it on the right side, you can adjust this if needed */
  font-size: 50px;        /* icon size */
  padding: 0;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 150px;     /* Move the button slightly to the left by reducing this value */
  margin-bottom: 0px;    /* Reduce the margin at the bottom */
}

#dropdownMenu {
  position: absolute;
  left: -120px;     
  top: 0;         
  z-index: 999;   
}


.btn-blue {
  background-color: #006494 !important;
  color: white;
}

.custom-upload {
  background-color: #686D76;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
}

.custom-upload:hover {
  background-color: #373A40;
}

.custom-upload input[type="file"] {
  display: none;
}
